# Auto detect text files and perform LF normalization
* text=auto

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.avif binary
*.svg text
*.cmjs binary

# Normalize line endings to LF
* text eol=lf
